In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline

In [2]:
train_x =pd.read_csv("airbnb_train_x.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (2,4,6,7,8,10,11,28,35,43,45,69) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
train_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 70 columns):
Unnamed: 0                          100000 non-null int64
access                              65564 non-null object
accommodates                        100000 non-null object
amenities                           100000 non-null object
availability_30                     100000 non-null object
availability_365                    100000 non-null int64
availability_60                     100000 non-null object
availability_90                     100000 non-null object
bathrooms                           99754 non-null object
bed_type                            99999 non-null object
bedrooms                            99907 non-null object
beds                                99917 non-null object
cancellation_policy                 100000 non-null object
city                                99951 non-null object
city_name                           99999 non-null object
cleaning_fee                        81676 non-null object
country                             99999 non-null object
country_code                        99993 non-null object
description                         99973 non-null object
experiences_offered                 99997 non-null object
extra_people                        100000 non-null object
first_review                        99992 non-null object
guests_included                     100000 non-null float64
host_about                          69188 non-null object
host_acceptance_rate                8242 non-null object
host_has_profile_pic                99858 non-null object
host_identity_verified              99852 non-null object
host_is_superhost                   99858 non-null object
host_listings_count                 99855 non-null object
host_location                       99589 non-null object
host_name                           99853 non-null object
host_neighbourhood                  82767 non-null object
host_response_rate                  84206 non-null object
host_response_time                  84206 non-null object
host_since                          99858 non-null object
host_total_listings_count           99858 non-null object
host_verifications                  99990 non-null object
house_rules                         69607 non-null object
instant_bookable                    99988 non-null object
interaction                         64120 non-null object
is_business_travel_ready            55449 non-null object
is_location_exact                   99981 non-null object
jurisdiction_names                  47310 non-null object
latitude                            99990 non-null object
license                             14279 non-null object
longitude                           99989 non-null object
market                              99567 non-null object
maximum_nights                      99990 non-null float64
minimum_nights                      99990 non-null float64
monthly_price                       20564 non-null object
name                                99967 non-null object
neighborhood_overview               69257 non-null object
neighbourhood                       86447 non-null object
notes                               51467 non-null object
price                               99981 non-null object
property_type                       99980 non-null object
require_guest_phone_verification    99981 non-null object
require_guest_profile_picture       99981 non-null object
requires_license                    99981 non-null object
room_type                           99981 non-null object
security_deposit                    59352 non-null object
smart_location                      99980 non-null object
space                               78955 non-null object
square_feet                         1581 non-null float64
state                               99978 non-null object
street                              99981 non-null object
summary                             97036 non-null object
transit                             70833 non-null object
weekly_price                        24105 non-null object
zipcode                             98951 non-null object
dtypes: float64(4), int64(2), object(64)
memory usage: 53.4+ MB

In [4]:
#variable-2-not considered

In [5]:
#variable-3-accommodates
train_x.accommodates.isnull().value_counts()
train_x.accommodates = pd.to_numeric(train_x['accommodates'], errors='coerce')
train_x.accommodates.isnull().value_counts()
train_x.accommodates.fillna(train_x.accommodates.mode()[0], inplace = True)
train_x.accommodates.isnull().value_counts()

False    100000
Name: accommodates, dtype: int64

In [6]:
train_x['amenities'] = train_x['amenities'].str.lower()

In [7]:
#variable-4-amenities
train_x['Wifi'] = np.where(train_x['amenities'].str.contains('wifi'), 'yes', 'no')
train_x['parking'] = np.where(train_x['amenities'].str.contains('parking'), 'yes', 'no')
train_x['Kitchen'] = np.where(train_x['amenities'].str.contains('kitchen'), 'yes', 'no')
train_x['24-hour-check'] = np.where(train_x['amenities'].str.contains('24-hour check-in'), 'yes', 'no')
train_x['Breakfast'] = np.where(train_x['amenities'].str.contains('breakfast'), 'yes', 'no')
train_x['ac'] = np.where(train_x['amenities'].str.contains('air conditioning'), 'yes', 'no')
train_x['Heating'] = np.where(train_x['amenities'].str.contains('heating'), 'yes', 'no')

In [8]:
train_x['hair_dryer'] = np.where(train_x['amenities'].str.contains('hair dryer'), 'yes', 'no')
train_x['hangers'] = np.where(train_x['amenities'].str.contains('hangers'), 'yes', 'no')
train_x['iron'] = np.where(train_x['amenities'].str.contains('iron'), 'yes', 'no')
train_x['laptop'] = np.where(train_x['amenities'].str.contains('laptop friendly workspace'), 'yes', 'no')
train_x['shampoo'] = np.where(train_x['amenities'].str.contains('shampoo'), 'yes', 'no')
train_x['essentials'] = np.where(train_x['amenities'].str.contains('essentials'), 'yes', 'no')
train_x['washer'] = np.where(train_x['amenities'].str.contains('washer'), 'yes', 'no')
train_x['dryer'] = np.where(train_x['amenities'].str.contains('dryer'), 'yes', 'no')
train_x['tv'] = np.where(train_x['amenities'].str.contains('tv'), 'yes', 'no')
train_x['pool'] = np.where(train_x['amenities'].str.contains('pool'), 'yes', 'no')
train_x['gym'] = np.where(train_x['amenities'].str.contains('gym'), 'yes', 'no')
train_x['hot tub'] = np.where(train_x['amenities'].str.contains('hot tub'), 'yes', 'no')
train_x['cable'] = np.where(train_x['amenities'].str.contains('cable'), 'yes', 'no')
train_x['wireless'] = np.where(train_x['amenities'].str.contains('wireless'), 'yes', 'no')
train_x['internet'] = np.where(train_x['amenities'].str.contains('internet'), 'yes', 'no')
train_x['family/kid friendly'] = np.where(train_x['amenities'].str.contains('family/kid friendly'), 'yes', 'no')
train_x['elevator'] = np.where(train_x['amenities'].str.contains('elevator'), 'yes', 'no')

In [9]:
#variable-5-availability_30
train_x.availability_30 = pd.to_numeric(train_x['availability_30'], errors='coerce')
train_x.availability_30.fillna(train_x.availability_30.mode()[0], inplace = True)
train_x.availability_30.isnull().value_counts()

False    100000
Name: availability_30, dtype: int64

In [10]:
#variable-6-availability-365-completely clean

In [11]:
#variable-7-availability_60
train_x.availability_60 = pd.to_numeric(train_x['availability_60'], errors='coerce')
train_x.availability_60.fillna(train_x.availability_60.mode()[0], inplace = True)
train_x.availability_60.isnull().value_counts()

False    100000
Name: availability_60, dtype: int64

In [12]:
#variable-8-availability_90
train_x.availability_90 = pd.to_numeric(train_x['availability_90'], errors='coerce')
train_x.availability_90.fillna(train_x.availability_90.mode()[0], inplace = True)
train_x.availability_90.isnull().value_counts()

False    100000
Name: availability_90, dtype: int64

In [13]:
#variable-9-bathroom
train_x.bathrooms = pd.to_numeric(train_x['bathrooms'], errors='coerce')
train_x.bathrooms.fillna(1, inplace = True)
train_x.bathrooms.isnull().value_counts()

False    100000
Name: bathrooms, dtype: int64

In [14]:
#variable-10-bed_type
train_x.bed_type = train_x.bed_type.str.replace('(\d+)%','Real Bed')
train_x.bed_type.fillna('Real Bed', inplace = True)
train_x.bed_type.isnull().value_counts()

False    100000
Name: bed_type, dtype: int64

In [15]:
#variable-11-bedrooms
train_x.bedrooms = pd.to_numeric(train_x['bedrooms'], errors='coerce')
train_x.bedrooms.fillna(1, inplace = True)
train_x.bedrooms.isnull().value_counts()

False    100000
Name: bedrooms, dtype: int64

In [16]:
#variable-12-beds
train_x.beds = pd.to_numeric(train_x['beds'], errors='coerce')
train_x.beds.fillna(1, inplace = True)
train_x.beds.isnull().value_counts()

False    100000
Name: beds, dtype: int64

In [17]:
#variable-13-cancellation-policy
train_x['cancellation_policy'] = train_x['cancellation_policy'].str.replace('super_strict_30', 'very_strict')
train_x['cancellation_policy'] = train_x['cancellation_policy'].str.replace('super_strict_60', 'very_strict')
train_x['cancellation_policy'] = train_x['cancellation_policy'].str.replace('5', 'strict')
train_x['cancellation_policy'] = train_x['cancellation_policy'].str.replace('1', 'strict')
train_x['cancellation_policy'] = train_x['cancellation_policy'].str.replace('2', 'strict')
train_x['cancellation_policy'] = train_x['cancellation_policy'].str.replace('no_refunds', 'strict')
train_x['cancellation_policy'] = train_x['cancellation_policy'].str.replace('strict.0', 'strict')
train_x.cancellation_policy.value_counts()

strict         47385
moderate       30411
flexible       21837
very_strict      367
Name: cancellation_policy, dtype: int64

In [18]:
#variable-14-cleaning_fee
train_x.cleaning_fee = train_x.cleaning_fee.str.replace('$','')
train_x.cleaning_fee = pd.to_numeric(train_x['cleaning_fee'], errors='coerce')
train_x.cleaning_fee.fillna(train_x.cleaning_fee.mode()[0], inplace = True)
train_x.cleaning_fee.isnull().value_counts()

False    100000
Name: cleaning_fee, dtype: int64

In [19]:
#variable-15-21- city,city_name,county,country,country_code,latitude,longitude 
#variable-22-23 - description, experiences_offered

In [20]:
extra = pd.read_csv("city-room-street.csv")

In [21]:
#variable- 16-city_name
extra['city'] = extra['city'].str.replace('Washington, D.C.', 'Washington DC')
train_x.city = extra.city

In [22]:
#variable-24- extra_people
extra.extra_people = extra.extra_people.str.replace('$','')
extra.extra_people.value_counts()
train_x.extra_people = extra.extra_people

In [23]:
#variable-25-first_review 
train_x['date_first_review'] = pd.to_datetime(train_x['first_review'],errors='coerce')
train_x['year_first_review'] = pd.DatetimeIndex(train_x['date_first_review']).year
train_x.year_first_review = pd.to_numeric(train_x['year_first_review'], errors='coerce')
train_x.year_first_review.fillna(train_x.year_first_review.mode()[0], inplace = True)
train_x.year_first_review.value_counts()

2016.0    31378
2017.0    26571
2015.0    21178
2014.0     9424
2013.0     4560
2018.0     2894
2012.0     2457
2011.0     1092
2010.0      362
2009.0       80
2008.0        4
Name: year_first_review, dtype: int64

In [24]:
#variable-26-guests_included
train_x['guests_included'] = np.where(train_x['guests_included'] <0, train_x.host_has_profile_pic,train_x['guests_included'])
train_x.guests_included = pd.to_numeric(train_x['guests_included'], errors='coerce')
train_x.guests_included.value_counts()

1.0     61790
2.0     21905
4.0      7427
3.0      2898
6.0      2573
5.0      1222
8.0       899
10.0      365
0.0       356
7.0       276
12.0      103
9.0        67
16.0       30
14.0       29
15.0       23
11.0       20
13.0       14
22.0        1
18.0        1
20.0        1
Name: guests_included, dtype: int64

In [25]:
#variable-29-host_has_profile_pic
train_x.host_has_profile_pic.fillna('t', inplace = True)
train_x['host_has_profile_pic'] = np.where(~train_x['host_has_profile_pic'].astype(str).str.contains('f'), 't', 'f')
train_x.host_has_profile_pic.value_counts()

t    99828
f      172
Name: host_has_profile_pic, dtype: int64

In [26]:
#variable-30-host_identity_verified
train_x.host_identity_verified.value_counts()
train_x.host_identity_verified.fillna('t', inplace = True)
train_x['host_identity_verified'] = np.where(~train_x['host_identity_verified'].astype(str).str.contains('f'), 't', 'f')
train_x.host_identity_verified.value_counts()

t    70041
f    29959
Name: host_identity_verified, dtype: int64

In [27]:
#variable-31-host_is_superhost
train_x.host_is_superhost.fillna(0, inplace = True)
train_x.host_is_superhost = train_x.host_is_superhost.str.replace('f','0')
train_x.host_is_superhost = train_x.host_is_superhost.str.replace('t','1')
train_x.host_is_superhost = pd.to_numeric(train_x['host_is_superhost'], errors='coerce')
train_x.host_is_superhost.fillna(0, inplace = True)
train_x.host_is_superhost.value_counts()

0.0    73870
1.0    26130
Name: host_is_superhost, dtype: int64

In [28]:
#variable-33-host_location
train_x.host_location.value_counts()

New York, New York, United States                                                                                                        25669
Los Angeles, California, United States                                                                                                   13237
US                                                                                                                                        7988
Austin, Texas, United States                                                                                                              4572
Washington, District of Columbia, United States                                                                                           3978
San Francisco, California, United States                                                                                                  3803
Chicago, Illinois, United States                                                                                                          3535
San Diego, California, United States                                                                                                      3419
Nashville, Tennessee, United States                                                                                                       3320
Portland, Oregon, United States                                                                                                           3314
New Orleans, Louisiana, United States                                                                                                     3033
Seattle, Washington, United States                                                                                                        2587
Denver, Colorado, United States                                                                                                           2520
Boston, Massachusetts, United States                                                                                                      2502
Brooklyn, New York, United States                                                                                                         1245
Oakland, California, United States                                                                                                         926
Santa Monica, California, United States                                                                                                    628
Asheville, North Carolina, United States                                                                                                   573
Long Beach, California, United States                                                                                                      495
United States                                                                                                                              403
Beverly Hills, California, United States                                                                                                   390
West Hollywood, California, United States                                                                                                  366
Pasadena, California, United States                                                                                                        347
Queens, New York, United States                                                                                                            338
Santa Cruz, California, United States                                                                                                      329
Spokane, Washington, United States                                                                                                         288
California, United States                                                                                                                  238
Malibu, California, United States                                                                                                          207
Montreal, Quebec, Canada                                                                                                                   188
Marina del Rey, California, United States                                                                                                  153
                                                                                                                                         ...
20 year native to Harlem NYC                                                                                                                 1
U.S.                                                                                                                                         1
Seattle WA and Portland OR                                                                                                                   1
Antioquia, Colombia                                                                                                                          1
Oregon City, Oregon, United States                                                                                                           1
Newtown, Connecticut, United States                                                                                                          1
West Hempstead, New York, United States                                                                                                      1
usa                                                                                                                                          1
Brazil                                                                                                                                       1
Del Rey                                                                                                                                      1
Los Altos Hills, California, United States                                                                                                   1
California, US                                                                                                                               1
Maroubra, New South Wales, Australia                                                                                                         1
Fredericksburg, Virginia, United States                                                                                                      1
OrlÃ©ans, Centre-Val de Loire, France                                                                                                         1
Greenville, South Carolina, United States                                                                                                    1
My partner and I stay either at the Airbnb house - or at his place in North Austin.   When the house is rented, we stay at his place.        1
Great Falls, Virginia, United States                                                                                                         1
Eureka, California, United States                                                                                                            1
Greenport, New York, United States                                                                                                           1
Alabama                                                                                                                                      1
Durango, Durango, Mexico                                                                                                                     1
Jericho, Vermont, United States                                                                                                              1
El Cerrito, California, United States                                                                                                        1
Flower Mound, Texas, United States                                                                                                           1
Norristown, Pennsylvania, United States                                                                                                      1
Wellington, Wellington, New Zealand                                                                                                          1
Lima Region, Peru                                                                                                                            1
London                                                                                                                                       1
Bridgewater, New Jersey, United States                                                                                                       1
Name: host_location, Length: 2154, dtype: int64

In [29]:
#variable-36-host_response_rate
train_x.host_response_rate.value_counts()
train_x.host_response_rate = train_x.host_response_rate.str.replace('%','')
train_x.host_response_rate = pd.to_numeric(train_x['host_response_rate'], errors='coerce')
train_x.host_response_rate.fillna(100, inplace = True)
train_x.host_response_rate.value_counts()

100.0    82348
90.0      2877
80.0      1333
99.0      1090
98.0       844
50.0       765
97.0       707
0.0        681
96.0       659
94.0       622
95.0       616
92.0       555
67.0       538
70.0       533
88.0       524
93.0       519
89.0       445
83.0       422
75.0       420
86.0       398
60.0       395
91.0       344
33.0       177
78.0       177
87.0       153
71.0       153
40.0       149
85.0       131
81.0       124
82.0       109
         ...
44.0        22
17.0        21
58.0        20
53.0        17
46.0        15
10.0        14
38.0        12
55.0        12
48.0        11
59.0        10
29.0        10
62.0         9
52.0         7
14.0         7
61.0         7
27.0         6
13.0         6
36.0         6
22.0         5
42.0         5
11.0         4
41.0         3
47.0         3
31.0         3
4.0          2
18.0         2
51.0         1
21.0         1
35.0         1
66.0         1
Name: host_response_rate, Length: 79, dtype: int64

In [30]:
#variable-37-host_response_time
train_x.host_response_time.fillna('within an hour', inplace = True)
train_x.host_response_time = train_x.host_response_time.str.replace('within an hour','0')
train_x.host_response_time = train_x.host_response_time.str.replace('within a few hours','1')
train_x.host_response_time = train_x.host_response_time.str.replace('within a day','2')
train_x.host_response_time = train_x.host_response_time.str.replace('a few days or more','3')
train_x.host_response_time = pd.to_numeric(train_x['host_response_time'], errors='coerce')
train_x.host_response_time.fillna(0, inplace = True)
train_x.host_response_time.value_counts()

0.0    70676
1.0    17262
2.0    10657
3.0     1405
Name: host_response_time, dtype: int64

In [31]:
#variable-38-host_since
train_x['host_since'] = pd.to_datetime(train_x['host_since'],errors='coerce')
train_x['year_host'] = pd.DatetimeIndex(train_x['host_since']).year
train_x.year_host = pd.to_numeric(train_x['year_host'], errors='coerce')
train_x.year_host.fillna(train_x.year_host.mode()[0], inplace = True)
train_x.year_host.value_counts()

2015.0    20666
2014.0    18985
2016.0    16144
2013.0    15143
2012.0    11557
2017.0     6984
2011.0     6719
2010.0     2391
2009.0      959
2018.0      314
2008.0      138
Name: year_host, dtype: int64

In [32]:
#variable-39-host_total_listings_count
train_x.host_total_listings_count = pd.to_numeric(train_x['host_total_listings_count'], errors='coerce')
train_x.host_total_listings_count.fillna(1, inplace = True)

In [33]:
#variable-40-host_verifications
train_x['verification'] = np.where(train_x['host_verifications'].str.contains(
    'email' or 'phone' or 'google' or 'reviews' or 'jumio' or 'kba' or 'work_email' or 
    'facebook' or 'linkedin' or 'selfie' or 'identity_manual' or 'government_id' or 
    'amex' or 'offline_government_id'
    or 'sent_id' or 'photographer' or 'sesame' or 'sesame_offline' or 'weibo'), 'yes', 'no')

In [34]:
train_x['host_verifications'] = train_x['host_verifications'].str.lower()

In [35]:
train_x['host_verifications'].value_counts()

['email', 'phone', 'reviews', 'kba']                                                                                                                                     17422
['email', 'phone', 'reviews']                                                                                                                                            15070
['email', 'phone', 'reviews', 'jumio']                                                                                                                                   12492
['email', 'phone', 'facebook', 'reviews', 'kba']                                                                                                                          7294
['email', 'phone', 'facebook', 'reviews', 'jumio']                                                                                                                        4214
['email', 'phone', 'facebook', 'reviews']                                                                                                                                 3762
['email', 'phone', 'reviews', 'kba', 'work_email']                                                                                                                        2861
['email', 'phone', 'reviews', 'jumio', 'government_id']                                                                                                                   2184
['email', 'phone', 'reviews', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']                                                             2126
['email', 'phone', 'reviews', 'jumio', 'work_email']                                                                                                                      1998
['email', 'phone', 'reviews', 'jumio', 'offline_government_id', 'government_id']                                                                                          1831
['email', 'phone', 'facebook', 'reviews', 'kba', 'work_email']                                                                                                            1523
['email', 'phone', 'facebook', 'reviews', 'jumio', 'government_id']                                                                                                       1461
['phone', 'reviews']                                                                                                                                                      1442
['email', 'phone', 'google', 'reviews', 'kba']                                                                                                                            1206
['email', 'phone', 'facebook', 'reviews', 'jumio', 'offline_government_id', 'government_id']                                                                              1003
['email', 'phone', 'facebook', 'reviews', 'jumio', 'work_email']                                                                                                           905
['email', 'phone', 'reviews', 'work_email']                                                                                                                                825
['email', 'phone', 'reviews', 'jumio', 'kba']                                                                                                                              824
['email', 'phone', 'google', 'reviews', 'jumio', 'government_id']                                                                                                          801
['email', 'phone', 'facebook', 'reviews', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']                                                  658
['email', 'phone', 'linkedin', 'reviews', 'kba']                                                                                                                           584
['email', 'phone', 'google', 'reviews', 'jumio']                                                                                                                           584
['email', 'phone', 'reviews', 'manual_offline', 'jumio']                                                                                                                   476
['email', 'phone', 'facebook', 'google', 'reviews', 'kba']                                                                                                                 429
['email', 'phone', 'google', 'reviews', 'jumio', 'offline_government_id', 'government_id']                                                                                 428
['phone', 'facebook', 'reviews']                                                                                                                                           424
['email', 'phone']                                                                                                                                                         382
['email', 'phone', 'google', 'reviews']                                                                                                                                    375
['email', 'phone', 'reviews', 'jumio', 'government_id', 'work_email']                                                                                                      368
                                                                                                                                                                         ...
['email', 'phone', 'facebook', 'google', 'linkedin', 'amex', 'reviews', 'jumio', 'offline_government_id', 'kba', 'government_id']                                            1
['email', 'phone', 'linkedin', 'reviews', 'jumio', 'selfie', 'government_id']                                                                                                1
['email', 'phone', 'manual_online', 'linkedin', 'reviews', 'manual_offline', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']                 1
['email', 'phone', 'google', 'linkedin', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']                                                     1
['email', 'phone', 'facebook', 'google', 'amex', 'reviews', 'work_email']                                                                                                    1
['phone', 'facebook', 'reviews', 'jumio', 'selfie', 'government_id', 'identity_manual']                                                                                      1
['email', 'manual_online', 'facebook', 'reviews', 'manual_offline', 'sent_id', 'kba']                                                                                        1
['email', 'phone', 'facebook', 'amex', 'reviews']                                                                                                                            1
['email', 'phone', 'facebook', 'google', 'amex', 'reviews', 'jumio', 'kba', 'government_id', 'work_email']                                                                   1
['phone', 'linkedin', 'reviews', 'kba', 'work_email']                                                                                                                        1
['email', 'phone', 'facebook', 'reviews', 'manual_offline', 'kba']                                                                                                           1
['email', 'phone', 'google', 'linkedin', 'reviews', 'sesame', 'sesame_offline']                                                                                              1
97.0                                                                                                                                                                         1
['email', 'phone', 'facebook', 'amex', 'reviews', 'jumio', 'kba', 'government_id', 'work_email']                                                                             1
['email', 'phone', 'facebook', 'google', 'linkedin', 'amex', 'reviews', 'jumio', 'selfie', 'government_id', 'identity_manual', 'work_email']                                 1
['phone', 'reviews', 'jumio', 'offline_government_id', 'kba', 'government_id']                                                                                               1
['email', 'phone', 'facebook', 'google', 'linkedin', 'amex', 'reviews', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual', 'work_email']        1
['reviews', 'jumio', 'government_id']                                                                                                                                        1
['phone', 'facebook', 'linkedin', 'reviews', 'kba']                                                                                                                          1
['email', 'phone', 'google', 'linkedin', 'reviews', 'jumio', 'selfie', 'government_id', 'identity_manual', 'work_email']                                                     1
['email', 'phone', 'manual_online', 'facebook', 'reviews', 'manual_offline', 'jumio', 'offline_government_id', 'government_id', 'work_email']                                1
['email', 'phone', 'facebook', 'google', 'linkedin', 'amex', 'reviews', 'jumio', 'offline_government_id', 'government_id', 'work_email']                                     1
['email', 'phone', 'linkedin', 'amex', 'reviews', 'jumio', 'kba', 'work_email']                                                                                              1
['email', 'phone', 'manual_online', 'reviews', 'manual_offline', 'jumio', 'offline_government_id', 'kba', 'government_id', 'work_email']                                     1
['email', 'phone', 'facebook', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual', 'work_email']                                                 1
['phone', 'facebook', 'jumio', 'offline_government_id', 'government_id']                                                                                                     1
['email', 'phone', 'amex', 'reviews', 'jumio', 'government_id', 'work_email']                                                                                                1
['email', 'phone', 'facebook', 'google', 'linkedin', 'reviews', 'sent_id']                                                                                                   1
['email', 'phone', 'facebook', 'reviews', 'jumio', 'government_id', 'identity_manual']                                                                                       1
['email', 'phone', 'google', 'reviews', 'jumio', 'kba', 'selfie', 'government_id', 'identity_manual', 'work_email']                                                          1
Name: host_verifications, Length: 729, dtype: int64

In [36]:
#variable-listing verifications
train_x['Reviews'] = np.where(train_x['host_verifications'].str.contains('review'), 'yes', 'no')
train_x['Email'] = np.where(train_x['host_verifications'].str.contains('email'), 'yes', 'no')
train_x['Phone'] = np.where(train_x['host_verifications'].str.contains('phone'), 'yes', 'no')
train_x['Facebook'] = np.where(train_x['host_verifications'].str.contains('facebook'), 'yes', 'no')

In [37]:
#variable-41-house_rules
train_x.house_rules.fillna('f', inplace = True)
train_x.house_rules = train_x.house_rules.str.replace('f','0')
train_x.house_rules = pd.to_numeric(train_x['house_rules'], errors='coerce')
train_x.house_rules.fillna(1, inplace = True)
train_x.house_rules.value_counts()

1.0    69607
0.0    30393
Name: house_rules, dtype: int64

In [38]:
#variable-42-instant_bookable
train_x.instant_bookable.fillna('f', inplace = True)
train_x.instant_bookable = train_x.instant_bookable.str.replace('f','0')
train_x.instant_bookable = train_x.instant_bookable.str.replace('t','1')
train_x.instant_bookable = pd.to_numeric(train_x['instant_bookable'], errors='coerce')
train_x.instant_bookable.fillna(0, inplace = True)

In [39]:
#variable-44-is_business_travel_ready
train_x.is_business_travel_ready.value_counts()
train_x.is_business_travel_ready = train_x.is_business_travel_ready.str.replace('f','0')
train_x.is_business_travel_ready = train_x.is_business_travel_ready.str.replace('t','1')
train_x.is_business_travel_ready = pd.to_numeric(train_x['is_business_travel_ready'], errors='coerce')
train_x.is_business_travel_ready.fillna(0, inplace = True)

In [40]:
#variable-45-is_location_exact
train_x.is_location_exact.value_counts()
train_x.is_location_exact.fillna('t', inplace = True)
train_x.is_location_exact.value_counts()

t    83933
f    16067
Name: is_location_exact, dtype: int64

In [41]:
#variable-51-maximum nights
train_x.maximum_nights = pd.to_numeric(train_x['maximum_nights'], errors='coerce')
train_x.maximum_nights.fillna(1125, inplace = True)
train_x['maximum_nights'] = np.where(train_x['maximum_nights'] >1125,1125,train_x['maximum_nights'])

In [42]:
#variable-52-minimum nights
train_x.minimum_nights = pd.to_numeric(train_x['minimum_nights'], errors='coerce')
train_x.minimum_nights.fillna(1, inplace = True)

In [43]:
#variable-53-monthly_price
train_x.monthly_price = train_x.monthly_price.str.replace('$','')
train_x.monthly_price = pd.to_numeric(train_x['monthly_price'], errors='coerce')
train_x.monthly_price.fillna('f', inplace = True)
train_x['monthly_price'] = np.where(~train_x['monthly_price'].astype(str).str.contains('f'), 't', 'f')
train_x.monthly_price.value_counts()

f    98641
t     1359
Name: monthly_price, dtype: int64

In [44]:
#variable-58-price
train_x.price = train_x.price.str.replace('$','')
train_x.price = pd.to_numeric(train_x['price'], errors='coerce')
train_x.price.fillna(train_x.price.mode()[0], inplace = True)
train_x.price.isnull().value_counts()

False    100000
Name: price, dtype: int64

In [45]:
#variable-60-require_guest_phone_verification
train_x.require_guest_phone_verification.fillna('f', inplace = True)
train_x.require_guest_phone_verification.isnull().value_counts()
train_x.require_guest_phone_verification.value_counts()

f    95445
t     4555
Name: require_guest_phone_verification, dtype: int64

In [46]:
#variable-61-require_guest_profile_picture
train_x.require_guest_profile_picture.fillna('f', inplace = True)
train_x.require_guest_profile_picture.isnull().value_counts()
train_x.require_guest_profile_picture.value_counts()

f    96521
t     3479
Name: require_guest_profile_picture, dtype: int64

In [47]:
#variable-62-requires_license
train_x.requires_license.fillna('f', inplace = True)
train_x.requires_license.isnull().value_counts()
train_x.requires_license.value_counts()

f    80534
t    19466
Name: requires_license, dtype: int64

In [48]:
#variable-64-security_deposit
train_x.security_deposit = train_x.security_deposit.str.replace('$','')
train_x.security_deposit = pd.to_numeric(train_x['security_deposit'], errors='coerce')
train_x.security_deposit.fillna('f', inplace = True)
train_x['security_deposit'] = np.where(~train_x['security_deposit'].astype(str).str.contains('f'), 't', 'f')
train_x.security_deposit.value_counts()

t    55712
f    44288
Name: security_deposit, dtype: int64

In [49]:
state = pd.read_csv('state-property_type.csv')

In [50]:
#variable-59 - state and variable 68 - property type
train_x.state = state.state
train_x.property_type = state.property_type

In [51]:
train_x['property_type'] = np.where(train_x['property_type'].astype(str).str.contains('bed & breakfast'), 
                                 'bed and breakfast', train_x['property_type'])

In [52]:
train_x.property_type.value_counts()

apartment                 54709
house                     31447
condominium                3701
townhouse                  2776
loft                       1866
guesthouse                  891
other                       829
bed and breakfast           696
bungalow                    653
guest suite                 567
cabin                       225
dorm                        215
villa                       213
camper/rv                   162
serviced apartment          162
in-law                      160
boutique hotel              153
hostel                      139
boat                         88
timeshare                    72
vacation home                50
tent                         45
resort                       30
treehouse                    28
castle                       18
yurt                         14
cottage                      14
hotel                        12
hut                          12
chalet                       10
earth house                  10
tipi                          5
aparthotel                    5
tiny house                    5
cave                          5
island                        3
train                         3
farm stay                     2
barn                          1
casa particular (cuba)        1
lighthouse                    1
plane                         1
nature lodge                  1
Name: property_type, dtype: int64

In [53]:
#variable-63-room_type
train_x.room_type.value_counts()
train_x.room_type.fillna('Entire home/apt', inplace = True)
train_x.room_type.value_counts()

Entire home/apt    60911
Private room       36617
Shared room         2472
Name: room_type, dtype: int64

In [54]:
train_x['transit'] = train_x['transit'].str.lower()

In [55]:
#variable-71-transit
train_x['transit_available'] = np.where(train_x['transit'].str.contains('public transportation' or  'metro' or'bus' 
                                                           or 'line'), 'yes', 'no')
train_x.transit_available.value_counts()

no     63901
yes    36099
Name: transit_available, dtype: int64

In [56]:
train_x.weekly_price.isnull().value_counts()

True     75895
False    24105
Name: weekly_price, dtype: int64

In [57]:
#variable-72-weekly_price
train_x.weekly_price = train_x.weekly_price.str.replace('$','')
train_x.weekly_price = pd.to_numeric(train_x['weekly_price'], errors='coerce')
train_x.weekly_price.fillna('f', inplace = True)
train_x['weekly_price'] = np.where(~train_x['weekly_price'].astype(str).str.contains('f'), 't', 'f')
train_x.weekly_price.value_counts()

f    82962
t    17038
Name: weekly_price, dtype: int64

In [58]:
train_x.to_csv('train_x_may07_11pm.csv', encoding='utf-8', index=False)

In [61]:
train_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Columns: 103 entries, Unnamed: 0 to transit_available
dtypes: datetime64[ns](2), float64(22), int64(2), object(77)
memory usage: 78.6+ MB

In [59]:
test_x = pd.read_csv("train_x_may06_5pm.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (28,43,45,69) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [60]:
test_x.year_host.value_counts()

2015.0    20666
2014.0    18985
2016.0    16144
2013.0    15143
2012.0    11557
2017.0     6984
2011.0     6719
2010.0     2391
2009.0      959
2018.0      314
2008.0      138
Name: year_host, dtype: int64