In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline

In [2]:
train_x =pd.read_csv("airbnb_test_x.csv")

In [3]:
#variable-2-not considered

In [4]:
#variable-3-accommodates
train_x.accommodates.isnull().value_counts()
train_x.accommodates = train_x.accommodates.str.replace('$','')
train_x.accommodates = pd.to_numeric(train_x['accommodates'], errors='coerce')
train_x.accommodates.isnull().value_counts()
train_x.accommodates.fillna(train_x.accommodates.mode()[0], inplace = True)
train_x.accommodates.isnull().value_counts()

False    12208
Name: accommodates, dtype: int64

In [5]:
train_x.accommodates.value_counts()

2.0     4985
4.0     2192
3.0     1265
6.0     1075
1.0     1056
5.0      603
8.0      436
10.0     185
7.0      161
12.0      76
9.0       64
16.0      51
14.0      21
11.0      20
13.0      11
15.0       6
20.0       1
Name: accommodates, dtype: int64

In [6]:
train_x['amenities'] = train_x['amenities'].str.lower()

In [7]:
#variable-4-amenities
train_x['Wifi'] = np.where(train_x['amenities'].str.contains('wifi'), 'yes', 'no')
train_x['parking'] = np.where(train_x['amenities'].str.contains('parking'), 'yes', 'no')
train_x['Kitchen'] = np.where(train_x['amenities'].str.contains('kitchen'), 'yes', 'no')
train_x['24-hour-check'] = np.where(train_x['amenities'].str.contains('24-hour check-in'), 'yes', 'no')
train_x['Breakfast'] = np.where(train_x['amenities'].str.contains('breakfast'), 'yes', 'no')
train_x['ac'] = np.where(train_x['amenities'].str.contains('air conditioning'), 'yes', 'no')
train_x['Heating'] = np.where(train_x['amenities'].str.contains('heating'), 'yes', 'no')

In [8]:
train_x['hair_dryer'] = np.where(train_x['amenities'].str.contains('hair dryer'), 'yes', 'no')
train_x['hangers'] = np.where(train_x['amenities'].str.contains('hangers'), 'yes', 'no')
train_x['iron'] = np.where(train_x['amenities'].str.contains('iron'), 'yes', 'no')
train_x['laptop'] = np.where(train_x['amenities'].str.contains('laptop friendly workspace'), 'yes', 'no')
train_x['shampoo'] = np.where(train_x['amenities'].str.contains('shampoo'), 'yes', 'no')
train_x['essentials'] = np.where(train_x['amenities'].str.contains('essentials'), 'yes', 'no')
train_x['washer'] = np.where(train_x['amenities'].str.contains('washer'), 'yes', 'no')
train_x['dryer'] = np.where(train_x['amenities'].str.contains('dryer'), 'yes', 'no')
train_x['tv'] = np.where(train_x['amenities'].str.contains('tv'), 'yes', 'no')
train_x['pool'] = np.where(train_x['amenities'].str.contains('pool'), 'yes', 'no')
train_x['gym'] = np.where(train_x['amenities'].str.contains('gym'), 'yes', 'no')
train_x['hot tub'] = np.where(train_x['amenities'].str.contains('hot tub'), 'yes', 'no')
train_x['cable'] = np.where(train_x['amenities'].str.contains('cable'), 'yes', 'no')
train_x['wireless'] = np.where(train_x['amenities'].str.contains('wireless'), 'yes', 'no')
train_x['internet'] = np.where(train_x['amenities'].str.contains('internet'), 'yes', 'no')
train_x['family/kid friendly'] = np.where(train_x['amenities'].str.contains('family/kid friendly'), 'yes', 'no')
train_x['elevator'] = np.where(train_x['amenities'].str.contains('elevator'), 'yes', 'no')

In [9]:
#variable-5-availability_30
train_x.availability_30 = train_x.availability_30.str.replace('$','')
train_x.availability_30 = pd.to_numeric(train_x['availability_30'], errors='coerce')
train_x.availability_30.fillna(train_x.availability_30.mode()[0], inplace = True)
train_x.availability_30.value_counts()

0.0     3582
30.0     816
29.0     422
3.0      399
6.0      373
4.0      373
2.0      372
8.0      349
1.0      339
5.0      329
7.0      310
10.0     299
9.0      294
11.0     289
12.0     282
13.0     267
15.0     247
18.0     242
14.0     236
16.0     229
17.0     223
28.0     215
20.0     212
19.0     210
23.0     203
27.0     202
22.0     202
21.0     194
25.0     178
24.0     170
26.0     150
Name: availability_30, dtype: int64

In [10]:
#variable-6-availability-365-completely clean
train_x.availability_365.isnull().value_counts()

False    12208
Name: availability_365, dtype: int64

In [11]:
#variable-7-availability_60
train_x.availability_60 = train_x.availability_60.str.replace('$','')
train_x.availability_60 = pd.to_numeric(train_x['availability_60'], errors='coerce')
train_x.availability_60.fillna(train_x.availability_60.mode()[0], inplace = True)
train_x.availability_60.value_counts()

0.0     2921
60.0     740
59.0     371
8.0      169
2.0      168
58.0     167
26.0     165
10.0     164
31.0     163
4.0      163
1.0      162
33.0     161
18.0     161
7.0      160
30.0     159
34.0     157
9.0      157
11.0     157
24.0     155
36.0     152
32.0     151
28.0     149
12.0     149
3.0      146
15.0     145
57.0     142
6.0      142
13.0     141
19.0     140
25.0     139
        ...
49.0     139
5.0      138
14.0     138
23.0     137
27.0     137
22.0     137
38.0     134
42.0     134
50.0     133
17.0     133
20.0     133
44.0     133
16.0     132
51.0     131
53.0     129
54.0     128
21.0     128
39.0     128
52.0     127
41.0     127
35.0     125
47.0     125
37.0     124
55.0     124
46.0     123
43.0     121
45.0     117
48.0     114
40.0     113
56.0     111
Name: availability_60, Length: 61, dtype: int64

In [12]:
#variable-8-availability_90
train_x.availability_90 = train_x.availability_90.str.replace('$','')
train_x.availability_90 = pd.to_numeric(train_x['availability_90'], errors='coerce')
train_x.availability_90.fillna(train_x.availability_90.mode()[0], inplace = True)
train_x.availability_90.isnull().value_counts()

False    12208
Name: availability_90, dtype: int64

In [13]:
#variable-9-bathroom
train_x.bathrooms= train_x.bathrooms.str.replace('$','')
train_x.bathrooms = pd.to_numeric(train_x['bathrooms'], errors='coerce')
train_x.bathrooms.fillna(1, inplace = True)
train_x.bathrooms.isnull().value_counts()

False    12208
Name: bathrooms, dtype: int64

In [14]:
#variable-10-bed_type
train_x.bed_type = train_x.bed_type.str.replace('$','')
train_x.bed_type = train_x.bed_type.str.replace('(\d+)%','Real Bed')
train_x.bed_type.fillna('Real Bed', inplace = True)
train_x.bed_type.isnull().value_counts()

False    12208
Name: bed_type, dtype: int64

In [15]:
#variable-11-bedrooms
train_x.bedrooms = train_x.bedrooms.str.replace('$','')
train_x.bedrooms = pd.to_numeric(train_x['bedrooms'], errors='coerce')
train_x.bedrooms.fillna(1, inplace = True)
train_x.bedrooms.isnull().value_counts()

False    12208
Name: bedrooms, dtype: int64

In [16]:
#variable-12-beds
train_x.beds = train_x.beds.str.replace('$','')
train_x.beds = pd.to_numeric(train_x['beds'], errors='coerce')
train_x.beds.fillna(1, inplace = True)
train_x.beds.isnull().value_counts()

False    12208
Name: beds, dtype: int64

In [17]:
train_x['cancellation_policy'].value_counts()

strict             5587
moderate           3756
flexible           2815
super_strict_30      31
super_strict_60      17
5.0                   1
2.0                   1
Name: cancellation_policy, dtype: int64

In [18]:
#variable-13-cancellation-policy
train_x.cancellation_policy = train_x.cancellation_policy.str.replace('$','')
train_x['cancellation_policy'] = train_x['cancellation_policy'].str.replace('super_strict_30', 'very_strict')
train_x['cancellation_policy'] = train_x['cancellation_policy'].str.replace('super_strict_60', 'very_strict')
train_x['cancellation_policy'] = train_x['cancellation_policy'].str.replace('5', 'strict')
#train_x['cancellation_policy'] = train_x['cancellation_policy'].str.replace('1', 'strict')
train_x['cancellation_policy'] = train_x['cancellation_policy'].str.replace('2', 'strict')
#train_x['cancellation_policy'] = train_x['cancellation_policy'].str.replace('no_refunds', 'strict')
train_x['cancellation_policy'] = train_x['cancellation_policy'].str.replace('strict.0', 'strict')
train_x.cancellation_policy.value_counts()

strict         5589
moderate       3756
flexible       2815
very_strict      48
Name: cancellation_policy, dtype: int64

In [19]:
#variable-14-cleaning_fee
train_x.cleaning_fee = train_x.cleaning_fee.str.replace('$','')
train_x.cleaning_fee = pd.to_numeric(train_x['cleaning_fee'], errors='coerce')
train_x.cleaning_fee.fillna(train_x.cleaning_fee.mode()[0], inplace = True)
train_x.cleaning_fee.value_counts()

50.0     3323
100.0     764
25.0      715
75.0      559
20.0      550
30.0      516
40.0      449
10.0      429
60.0      407
150.0     386
15.0      383
35.0      330
80.0      284
65.0      224
0.0       218
125.0     208
45.0      207
120.0     147
70.0      143
200.0     127
85.0      127
90.0      122
5.0       114
95.0      112
55.0       93
99.0       86
250.0      59
175.0      57
110.0      53
49.0       46
         ...
237.0       1
51.0        1
141.0       1
154.0       1
47.0        1
480.0       1
36.0        1
147.0       1
223.0       1
264.0       1
117.0       1
425.0       1
93.0        1
244.0       1
143.0       1
675.0       1
34.0        1
270.0       1
62.0        1
158.0       1
106.0       1
191.0       1
168.0       1
92.0        1
136.0       1
101.0       1
254.0       1
121.0       1
193.0       1
310.0       1
Name: cleaning_fee, Length: 196, dtype: int64

In [20]:
train_x.cleaning_fee.dtype

dtype('float64')

In [21]:
#variable-15-21- city,city_name,county,country,country_code,latitude,longitude 
#variable-22-23 - description, experiences_offered

In [22]:
extra = pd.read_csv("test-state-city-prop_type.csv")

In [23]:
#variable- 16-city_name
#extra['city'] = extra['city'].str.replace('Washington, D.C.', 'Washington DC')
train_x.city = extra.city

In [24]:
extra.extra_people.value_counts()

$0.00          5880
$25.00         1101
$20.00         1063
$10.00         1015
$15.00          759
$50.00          634
$30.00          396
$35.00          195
$40.00          189
$5.00           172
$100.00         119
$75.00           71
$45.00           66
$12.00           55
$7.00            36
$8.00            32
$18.00           31
$60.00           30
$19.00           21
$150.00          19
$6.00            18
$49.00           17
$27.00           16
$39.00           16
$29.00           15
$9.00            15
$200.00          14
$300.00          14
$55.00           13
$28.00           13
               ...
$23.00            5
$125.00           4
$250.00           4
$120.00           4
$90.00            4
$37.00            3
$32.00            3
$42.00            2
$58.00            2
$89.00            1
$31.00            1
$145.00           1
$52.00            1
$285.00           1
$96.00            1
$199.00           1
$176.00           1
34.03214797       1
$43.00            1
$179.00           1
$98.00            1
$155.00           1
$48.00            1
$95.00            1
$66.00            1
$44.00            1
$34.00            1
$105.00           1
$69.00            1
34.10990472       1
Name: extra_people, Length: 75, dtype: int64

In [25]:
#variable-24- extra_people
extra.extra_people = extra.extra_people.str.replace('$','')
extra.extra_people.value_counts()
train_x.extra_people = extra.extra_people

In [26]:
train_x.extra_people.value_counts()
train_x.extra_people = train_x.extra_people.str.replace('$','')
train_x.extra_people.value_counts()

0.00           5880
25.00          1101
20.00          1063
10.00          1015
15.00           759
50.00           634
30.00           396
35.00           195
40.00           189
5.00            172
100.00          119
75.00            71
45.00            66
12.00            55
7.00             36
8.00             32
18.00            31
60.00            30
19.00            21
150.00           19
6.00             18
49.00            17
27.00            16
39.00            16
9.00             15
29.00            15
300.00           14
200.00           14
28.00            13
55.00            13
               ...
21.00             5
120.00            4
250.00            4
125.00            4
90.00             4
37.00             3
32.00             3
58.00             2
42.00             2
34.03214797       1
179.00            1
98.00             1
105.00            1
176.00            1
31.00             1
43.00             1
69.00             1
52.00             1
89.00             1
66.00             1
145.00            1
285.00            1
96.00             1
155.00            1
199.00            1
95.00             1
34.10990472       1
48.00             1
34.00             1
44.00             1
Name: extra_people, Length: 75, dtype: int64

In [27]:
#variable-25-first_review 
train_x['date_first_review'] = pd.to_datetime(train_x['first_review'],errors='coerce')
train_x['year_first_review'] = pd.DatetimeIndex(train_x['date_first_review']).year
train_x.year_first_review = pd.to_numeric(train_x['year_first_review'], errors='coerce')
train_x.year_first_review.fillna(train_x.year_first_review.mode()[0], inplace = True)
train_x.year_first_review.value_counts()

2016.0    3924
2017.0    3112
2015.0    2643
2014.0    1117
2013.0     583
2018.0     361
2012.0     302
2011.0     117
2010.0      41
2009.0       7
2008.0       1
Name: year_first_review, dtype: int64

In [28]:
train_x.guests_included.value_counts()

 1.000000      7561
 2.000000      2657
 4.000000       901
 3.000000       347
 6.000000       322
 5.000000       143
 8.000000       127
 0.000000        48
 7.000000        33
 10.000000       33
 12.000000       12
 16.000000        8
 9.000000         6
 11.000000        3
 15.000000        3
-118.480773       1
 14.000000        1
 13.000000        1
-118.218851       1
Name: guests_included, dtype: int64

In [29]:
#variable-26-guests_included
#train_x.guests_included = train_x.guests_included.str.replace('$','')
train_x['guests_included'] = np.where(train_x['guests_included'] <2,1,train_x['guests_included'])
train_x.guests_included = pd.to_numeric(train_x['guests_included'], errors='coerce')
train_x.guests_included.value_counts()

1.0     7611
2.0     2657
4.0      901
3.0      347
6.0      322
5.0      143
8.0      127
7.0       33
10.0      33
12.0      12
16.0       8
9.0        6
15.0       3
11.0       3
13.0       1
14.0       1
Name: guests_included, dtype: int64

In [30]:
#variable-29-host_has_profile_pic
train_x.host_has_profile_pic = train_x.host_has_profile_pic.str.replace('$','')
train_x.host_has_profile_pic.fillna('t', inplace = True)
train_x['host_has_profile_pic'] = np.where(~train_x['host_has_profile_pic'].astype(str).str.contains('f'), 't', 'f')
train_x.host_has_profile_pic.value_counts()

t    12189
f       19
Name: host_has_profile_pic, dtype: int64

In [31]:
#variable-30-host_identity_verified
train_x.host_identity_verified.value_counts()
train_x.host_identity_verified = train_x.host_identity_verified.str.replace('$','')
train_x.host_identity_verified.fillna('t', inplace = True)
train_x['host_identity_verified'] = np.where(~train_x['host_identity_verified'].astype(str).str.contains('f'), 't', 'f')
train_x.host_identity_verified.value_counts()

t    8568
f    3640
Name: host_identity_verified, dtype: int64

In [32]:
#variable-31-host_is_superhost
train_x.host_is_superhost = train_x.host_is_superhost.str.replace('$','')
train_x.host_is_superhost.fillna(0, inplace = True)
train_x.host_is_superhost = train_x.host_is_superhost.str.replace('f','0')
train_x.host_is_superhost = train_x.host_is_superhost.str.replace('t','1')
train_x.host_is_superhost = pd.to_numeric(train_x['host_is_superhost'], errors='coerce')
train_x.host_is_superhost.fillna(0, inplace = True)
train_x.host_is_superhost.value_counts()

0.0    9122
1.0    3086
Name: host_is_superhost, dtype: int64

In [33]:
#variable-36-host_response_rate
train_x.host_response_rate.value_counts()
train_x.host_response_rate = train_x.host_response_rate.str.replace('$','')
train_x.host_response_rate = train_x.host_response_rate.str.replace('%','')
train_x.host_response_rate = pd.to_numeric(train_x['host_response_rate'], errors='coerce')
train_x.host_response_rate.fillna(100, inplace = True)
train_x.host_response_rate.value_counts()

100.0    10043
90.0       327
80.0       175
99.0       132
50.0       108
98.0       103
96.0       102
97.0        86
95.0        84
94.0        81
0.0         77
88.0        69
70.0        68
92.0        66
67.0        64
75.0        58
93.0        56
83.0        55
89.0        47
60.0        45
91.0        42
86.0        40
33.0        28
87.0        20
78.0        19
40.0        16
81.0        16
79.0        15
85.0        15
82.0        15
         ...
68.0         4
17.0         4
65.0         4
72.0         3
14.0         3
11.0         3
62.0         3
20.0         2
24.0         2
29.0         2
36.0         2
54.0         2
77.0         2
59.0         2
52.0         2
44.0         2
46.0         1
74.0         1
13.0         1
38.0         1
23.0         1
58.0         1
39.0         1
66.0         1
47.0         1
53.0         1
43.0         1
4.0          1
48.0         1
61.0         1
Name: host_response_rate, Length: 72, dtype: int64

In [34]:
#variable-37-host_response_time
train_x.host_response_time = train_x.host_response_time.str.replace('$','')
train_x.host_response_time.fillna('within an hour', inplace = True)
train_x.host_response_time = train_x.host_response_time.str.replace('within an hour','0')
train_x.host_response_time = train_x.host_response_time.str.replace('within a few hours','1')
train_x.host_response_time = train_x.host_response_time.str.replace('within a day','2')
train_x.host_response_time = train_x.host_response_time.str.replace('a few days or more','3')
train_x.host_response_time = pd.to_numeric(train_x['host_response_time'], errors='coerce')
train_x.host_response_time.fillna(0, inplace = True)
train_x.host_response_time.value_counts()

0.0    8608
1.0    2140
2.0    1291
3.0     169
Name: host_response_time, dtype: int64

In [35]:
#variable-38-host_since
train_x['host_since'] = pd.to_datetime(train_x['host_since'],errors='coerce')
train_x['year_host'] = pd.DatetimeIndex(train_x['host_since']).year
train_x.year_host = pd.to_numeric(train_x['year_host'], errors='coerce')
train_x.year_host.fillna(train_x.year_host.mode()[0], inplace = True)
train_x.year_host.value_counts()

2015.0    2515
2014.0    2249
2016.0    2051
2013.0    1908
2012.0    1408
2011.0     818
2017.0     811
2010.0     306
2009.0      83
2018.0      40
2008.0      19
Name: year_host, dtype: int64

In [36]:
#variable-39-host_total_listings_count
train_x.host_total_listings_count = train_x.host_total_listings_count.str.replace('$','')
train_x.host_total_listings_count = pd.to_numeric(train_x['host_total_listings_count'], errors='coerce')
train_x.host_total_listings_count.fillna(1, inplace = True)

In [37]:
#variable-40-host_verifications
train_x['verification'] = np.where(train_x['host_verifications'].str.contains(
    'email' or 'phone' or 'google' or 'reviews' or 'jumio' or 'kba' or 'work_email' or 
    'facebook' or 'linkedin' or 'selfie' or 'identity_manual' or 'government_id' or 
    'amex' or 'offline_government_id'
    or 'sent_id' or 'photographer' or 'sesame' or 'sesame_offline' or 'weibo'), 'yes', 'no')

In [38]:
train_x['host_verifications'] = train_x['host_verifications'].str.lower()

In [39]:
#variable-listing verifications
train_x['Reviews'] = np.where(train_x['host_verifications'].str.contains('review'), 'yes', 'no')
train_x['Email'] = np.where(train_x['host_verifications'].str.contains('email'), 'yes', 'no')
train_x['Phone'] = np.where(train_x['host_verifications'].str.contains('phone'), 'yes', 'no')
train_x['Facebook'] = np.where(train_x['host_verifications'].str.contains('facebook'), 'yes', 'no')

In [40]:
#variable-41-house_rules
train_x.house_rules.fillna('f', inplace = True)
train_x.house_rules = train_x.house_rules.str.replace('f','0')
train_x.house_rules = pd.to_numeric(train_x['house_rules'], errors='coerce')
train_x.house_rules.fillna(1, inplace = True)
train_x.house_rules.value_counts()

1.0    8496
0.0    3712
Name: house_rules, dtype: int64

In [41]:
#variable-42-instant_bookable
train_x.instant_bookable = train_x.instant_bookable.str.replace('$','')
train_x.instant_bookable.fillna('f', inplace = True)
train_x.instant_bookable = train_x.instant_bookable.str.replace('f','0')
train_x.instant_bookable = train_x.instant_bookable.str.replace('t','1')
train_x.instant_bookable = pd.to_numeric(train_x['instant_bookable'], errors='coerce')
train_x.instant_bookable.fillna(0, inplace = True)

In [42]:
#variable-44-is_business_travel_ready
train_x.is_business_travel_ready.value_counts()
train_x.is_business_travel_ready = train_x.is_business_travel_ready.str.replace('$','')
train_x.is_business_travel_ready = train_x.is_business_travel_ready.str.replace('f','0')
train_x.is_business_travel_ready = train_x.is_business_travel_ready.str.replace('t','1')
train_x.is_business_travel_ready = pd.to_numeric(train_x['is_business_travel_ready'], errors='coerce')
train_x.is_business_travel_ready.fillna(0, inplace = True)

In [43]:
#is_location_exact
train_x.is_location_exact.value_counts()
train_x.is_location_exact = train_x.is_location_exact.str.replace('$','')
train_x.is_location_exact.fillna('t', inplace = True)
train_x.is_location_exact.value_counts()

t    10225
f     1983
Name: is_location_exact, dtype: int64

In [44]:
train_x.maximum_nights.value_counts()

1125.0      6974
30.0         724
14.0         437
7.0          395
365.0        334
90.0         297
28.0         233
60.0         232
10.0         229
29.0         222
5.0          154
21.0         151
31.0         138
15.0         135
20.0         105
180.0        103
4.0           99
3.0           96
6.0           87
120.0         78
8.0           69
25.0          66
12.0          64
45.0          47
40.0          43
100.0         42
27.0          38
9.0           36
13.0          29
35.0          27
            ...
109.0          1
100000.0       1
47.0           1
126.0          1
181.0          1
183.0          1
1118.0         1
182.0          1
39.0           1
121.0          1
750.0          1
187.0          1
280.0          1
38.0           1
900.0          1
765.0          1
225.0          1
355.0          1
1056.0         1
11111.0        1
222.0          1
85.0           1
77.0           1
800.0          1
52.0           1
36.0           1
352.0          1
137.0          1
186.0          1
140.0          1
Name: maximum_nights, Length: 151, dtype: int64

In [45]:
#variable-51-maximum nights
#train_x.maximum_nights = train_x.maximum_nights.str.replace('$','')
train_x.maximum_nights = pd.to_numeric(train_x['maximum_nights'], errors='coerce')
train_x.maximum_nights.fillna(1125, inplace = True)
train_x['maximum_nights'] = np.where(train_x['maximum_nights'] >1125,1125,train_x['maximum_nights'])

In [46]:
#variable-52-minimum nights
#train_x.minimum_nights = train_x.minimum_nights.str.replace('$','')
train_x.minimum_nights = pd.to_numeric(train_x['minimum_nights'], errors='coerce')
train_x.minimum_nights.fillna(1, inplace = True)

In [47]:
#variable-53-monthly_price
train_x.monthly_price = train_x.monthly_price.str.replace('$','')
train_x.monthly_price = pd.to_numeric(train_x['monthly_price'], errors='coerce')
train_x.monthly_price.fillna('f', inplace = True)
train_x['monthly_price'] = np.where(~train_x['monthly_price'].astype(str).str.contains('f'), 't', 'f')
train_x.monthly_price.value_counts()

f    12014
t      194
Name: monthly_price, dtype: int64

In [48]:
train_x.maximum_nights.value_counts()

1125.0    7008
30.0       724
14.0       437
7.0        395
365.0      334
90.0       297
28.0       233
60.0       232
10.0       229
29.0       222
5.0        154
21.0       151
31.0       138
15.0       135
20.0       105
180.0      103
4.0         99
3.0         96
6.0         87
120.0       78
8.0         69
25.0        66
12.0        64
45.0        47
40.0        43
100.0       42
27.0        38
9.0         36
13.0        29
35.0        27
          ...
126.0        1
39.0         1
185.0        1
81.0         1
77.0         1
225.0        1
121.0        1
48.0         1
250.0        1
900.0        1
38.0         1
355.0        1
1056.0       1
280.0        1
182.0        1
140.0        1
222.0        1
85.0         1
800.0        1
64.0         1
52.0         1
220.0        1
760.0        1
36.0         1
352.0        1
137.0        1
187.0        1
1123.0       1
363.0        1
109.0        1
Name: maximum_nights, Length: 133, dtype: int64

In [49]:
#variable-58-price
train_x.price = train_x.price.str.replace('$','')
train_x.price = pd.to_numeric(train_x['price'], errors='coerce')
train_x.price.fillna(train_x.price.mode()[0], inplace = True)
train_x.price.value_counts()

150.0    497
100.0    404
75.0     358
50.0     312
99.0     310
125.0    280
60.0     277
65.0     269
70.0     262
200.0    255
95.0     253
80.0     248
90.0     245
85.0     244
120.0    240
55.0     208
110.0    201
175.0    197
45.0     191
250.0    190
40.0     151
115.0    140
199.0    137
300.0    135
79.0     134
89.0     132
225.0    132
140.0    132
130.0    131
69.0     118
        ...
311.0      1
739.0      1
537.0      1
193.0      1
277.0      1
403.0      1
237.0      1
840.0      1
332.0      1
911.0      1
647.0      1
925.0      1
649.0      1
181.0      1
697.0      1
460.0      1
342.0      1
540.0      1
644.0      1
257.0      1
439.0      1
579.0      1
202.0      1
302.0      1
570.0      1
369.0      1
890.0      1
510.0      1
323.0      1
435.0      1
Name: price, Length: 447, dtype: int64

In [50]:
train_x.price.value_counts()

150.0    497
100.0    404
75.0     358
50.0     312
99.0     310
125.0    280
60.0     277
65.0     269
70.0     262
200.0    255
95.0     253
80.0     248
90.0     245
85.0     244
120.0    240
55.0     208
110.0    201
175.0    197
45.0     191
250.0    190
40.0     151
115.0    140
199.0    137
300.0    135
79.0     134
89.0     132
225.0    132
140.0    132
130.0    131
69.0     118
        ...
311.0      1
739.0      1
537.0      1
193.0      1
277.0      1
403.0      1
237.0      1
840.0      1
332.0      1
911.0      1
647.0      1
925.0      1
649.0      1
181.0      1
697.0      1
460.0      1
342.0      1
540.0      1
644.0      1
257.0      1
439.0      1
579.0      1
202.0      1
302.0      1
570.0      1
369.0      1
890.0      1
510.0      1
323.0      1
435.0      1
Name: price, Length: 447, dtype: int64

In [51]:
#variable-60-require_guest_phone_verification
train_x.require_guest_phone_verification.fillna('f', inplace = True)
train_x.require_guest_phone_verification.isnull().value_counts()
train_x.require_guest_phone_verification.value_counts()

f    11704
t      504
Name: require_guest_phone_verification, dtype: int64

In [52]:
#variable-61-require_guest_profile_picture
train_x.require_guest_profile_picture = train_x.require_guest_profile_picture.str.replace('$','')
train_x.require_guest_profile_picture.fillna('f', inplace = True)
train_x.require_guest_profile_picture.isnull().value_counts()
train_x.require_guest_profile_picture.value_counts()

f    11793
t      415
Name: require_guest_profile_picture, dtype: int64

In [53]:
#variable-62-requires_license
train_x.requires_license = train_x.requires_license.str.replace('$','')
train_x.requires_license.fillna('f', inplace = True)
train_x.requires_license.isnull().value_counts()
train_x.requires_license.value_counts()

f    9871
t    2337
Name: requires_license, dtype: int64

In [54]:
#variable-64-security_deposit
train_x.security_deposit = train_x.security_deposit.str.replace('$','')
train_x.security_deposit = pd.to_numeric(train_x['security_deposit'], errors='coerce')
train_x.security_deposit.fillna('f', inplace = True)
train_x['security_deposit'] = np.where(~train_x['security_deposit'].astype(str).str.contains('f'), 't', 'f')
train_x.security_deposit.value_counts()

t    6673
f    5535
Name: security_deposit, dtype: int64

In [55]:
extra.property_type.value_counts()

Apartment             6649
House                 3909
Condominium            445
Townhouse              314
Loft                   225
Guesthouse             110
Other                  109
Bed & Breakfast         68
Bungalow                67
Guest suite             61
Camper/RV               28
Dorm                    26
Cabin                   25
Villa                   24
Serviced apartment      23
Boutique hotel          23
Hostel                  20
Bed and breakfast       20
In-law                  17
Boat                     9
Timeshare                6
Vacation home            6
Resort                   4
Hotel                    3
Castle                   3
Earth House              2
Treehouse                2
Tent                     2
Chalet                   1
Hut                      1
Tiny house               1
Island                   1
Earth house              1
Cottage                  1
Tipi                     1
Yurt                     1
Name: property_type, dtype: int64

In [56]:
extra['state'] = extra['state'].str.replace('Ca', 'CA')
extra['state'] = extra['state'].str.replace('ca', 'CA')
#train_x.maximum_nights = train_x.maximum_nights.str.replace('$','')

In [57]:
#variable-59 - state and variable 68 - property type
train_x.state = extra.state
train_x.property_type = extra.property_type
train_x.state = train_x.state.str.replace('$','')
train_x.property_type = train_x.property_type.str.replace('$','')

In [58]:
train_x['property_type'] = np.where(train_x['property_type'].astype(str).str.contains('Bed & Breakfast'), 
                                 'bed and breakfast', train_x['property_type'])

In [59]:
train_x.property_type.value_counts()

Apartment             6649
House                 3909
Condominium            445
Townhouse              314
Loft                   225
Guesthouse             110
Other                  109
bed and breakfast       68
Bungalow                67
Guest suite             61
Camper/RV               28
Dorm                    26
Cabin                   25
Villa                   24
Serviced apartment      23
Boutique hotel          23
Hostel                  20
Bed and breakfast       20
In-law                  17
Boat                     9
Vacation home            6
Timeshare                6
Resort                   4
Hotel                    3
Castle                   3
Treehouse                2
Earth House              2
Tent                     2
Chalet                   1
Hut                      1
Tiny house               1
Island                   1
Earth house              1
Cottage                  1
Tipi                     1
Yurt                     1
Name: property_type, dtype: int64

In [60]:
#variable-63-room_type
train_x.room_type.value_counts()
train_x.room_type = train_x.room_type.str.replace('$','')
train_x.room_type.fillna('Entire home/apt', inplace = True)
train_x.room_type.value_counts()

Entire home/apt    7428
Private room       4480
Shared room         300
Name: room_type, dtype: int64

In [61]:
train_x['transit'] = train_x['transit'].str.lower()

In [62]:
#variable-71-transit
train_x['transit_available'] = np.where(train_x['transit'].str.contains('public transportation' or  'metro' or'bus' 
                                                           or 'line'), 'yes', 'no')
train_x.transit_available.value_counts()

no     7712
yes    4496
Name: transit_available, dtype: int64

In [63]:
#variable-72-weekly_price
train_x.weekly_price = train_x.weekly_price.str.replace('$','')
train_x.weekly_price = pd.to_numeric(train_x['weekly_price'], errors='coerce')
train_x.weekly_price.fillna('f', inplace = True)
train_x['weekly_price'] = np.where(~train_x['weekly_price'].astype(str).str.contains('f'), 't', 'f')
train_x.weekly_price.value_counts()

f    10105
t     2103
Name: weekly_price, dtype: int64

In [64]:
train_x.to_csv('test_may08-12am.csv', encoding='utf-8', index=False)

In [65]:
test_x.extra_people.value_counts()

NameError: name 'test_x' is not defined